<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no, width=device-width" />
    <title>Test Template</title>
</head>
<body>
<p>I am real DOM</p>
<div>
    <button id="add">Real DOM '+' Btn</button>
</div>
<br/>
<div>-------Vue Component↓--------</div>
<div id="vueApp">
    <my-component></my-component>
</div>
<br/>
<div>-------React Component↓--------</div>
<div id="reactApp"></div>
<br/>
<div>-------Snabbdom Component In Real DOM↓--------</div>
<div id="snabbApp"></div>
</body>
</html>